@import url('./reset.css');
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap);

:root {
    /* colors */
    --clr-bkg: #508284;
    --clr-input: #d9d9d9;
    --clr-text: white;
    --clr-error: #fde74c;

    /* air quality */
    --clr-green: rgb(65, 192, 65);
    --clr-light-green: rgb(117, 237, 117);
    --clr-yellow: yellow;
    --clr-light-yellow: rgba(199, 199, 22, 0.675);
    --clr-orange: orange;
    --clr-red: rgb(235, 50, 50);

    /* font-family */
    --ff-main: 'Inter', sans-serif;

    /* font-sizes */
    --fs-location: 1.3rem;
    --fs-temp: 2.8rem;
    --fs-error: 2.5rem;

    /* font-weights */
    --fw-details-values: 300;
    --fw-details: 500;
    --fw-error: 700;
}

body {
    background-color: var(--clr-bkg);
    color: var(--clr-text);
    font-family: var(--ff-main);
}

.weather {
    width: 30%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    .weather__input {
        background-color: var(--clr-input);
        padding: 1rem;
        border-radius: 12px;
        margin-bottom: 2.5rem;
    }

    .weather__info {
        display: flex;
        flex-direction: column;

        .weather__info_main {
            display: flex;
            justify-content: center;
            align-items: center;

            .location__name {
                font-size: var(--fs-location);
            }

            .location__temp {
                font-size: var(--fs-temp);
            }

            .condition-icon {
                width: 40%;
            }
        }

        .weather__info_details {
            margin: 0 auto;

            font-weight: var(--fw-details-values);

            span.bold {
                font-weight: var(--fw-details);
            }

            p {
                width: max-content;
                margin: 0.5rem;
            }

            .air-quality__circle {
                display: inline-block;
                width: 0.7rem;
                height: 0.7rem;
                border-radius: 100%;

                &.green {
                    color: red;
                    background-color: var(--clr-green);
                }
                &.light-green {
                    background-color: var(--clr-light-green);
                }
                &.yellow {
                    background-color: var(--clr-yellow);
                }
                &.light-yellow {
                    background-color: var(--clr-light-yellow);
                }
                &.orange {
                    background-color: var(--clr-orange);
                }
                &.red {
                    background-color: var(--clr-red);
                }
            }

            .wind {
                img {
                    width: 0.7rem;
                    height: 0.7rem;
                }
            }
        }
    }

    .weather__error {
        color: var(--clr-error);
        font-weight: var(--fw-error);
        text-align: center;
        font-size: var(--fs-error);
    }
}
