@import url('./reset.css');
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap);

:root {
    /* colors */
    --clr-bkg: #508284;
    --clr-input: #d9d9d9;
    --clr-text: white;
    --clr-error: #fde74c;
    --clr-svg-hover: invert(51%) sepia(78%) saturate(2081%) hue-rotate(158deg)
        brightness(90%) contrast(101%);

    /* air quality */
    --clr-green: rgb(65, 192, 65);
    --clr-light-green: rgb(117, 237, 117);
    --clr-yellow: yellow;
    --clr-light-yellow: rgba(199, 199, 22, 0.675);
    --clr-orange: orange;
    --clr-red: rgb(235, 50, 50);

    /* font-family */
    --ff-main: 'Inter', sans-serif;

    /* font-sizes */
    --fs-location: 1.3rem;
    --fs-temp: 2.8rem;
    --fs-error: 2.5rem;

    /* font-weights */
    --fw-details-values: 300;
    --fw-details: 500;
    --fw-error: 700;
}

body {
    background-color: var(--clr-bkg);
    color: var(--clr-text);
    font-family: var(--ff-main);
}

.weather {
    width: 30%;
    margin: 0 auto;

    .weather__search {
        display: flex;
        flex-direction: column;
        position: relative;

        .weather__input {
            background-color: var(--clr-input);
            padding: 1rem;
            border-radius: 12px;
            margin-bottom: 2.5rem;
        }
    }

    .weather__gps {
        width: 1.5rem;

        /* position */
        position: absolute;
        right: 4%;
        top: 15%;

        &:hover {
            filter: var(--clr-svg-hover);
        }
    }

    .weather__loader {
        border: 5px solid var(--clr-bkg); /* Light grey */
        border-top: 5px solid white; /* Blue */
        border-radius: 50%;
        width: 1rem;
        height: 1rem;
        animation: spin 2s linear infinite;

        /* position */
        position: absolute;
        top: 15%;
        right: 15%;
    }

    .weather__info {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .weather__info_main {
            display: flex;
            justify-content: center;
            align-items: center;

            .location__name {
                font-size: var(--fs-location);
            }

            .location__temp {
                font-size: var(--fs-temp);
            }

            .condition-icon {
                width: 40%;
            }
        }

        .weather__info_details {
            margin: 0 auto;

            font-weight: var(--fw-details-values);

            span.bold {
                font-weight: var(--fw-details);
            }

            p {
                width: max-content;
                margin: 0.5rem;
            }

            .air-quality__circle {
                display: inline-block;
                width: 0.7rem;
                height: 0.7rem;
                border-radius: 100%;

                &.green {
                    color: red;
                    background-color: var(--clr-green);
                }
                &.light-green {
                    background-color: var(--clr-light-green);
                }
                &.yellow {
                    background-color: var(--clr-yellow);
                }
                &.light-yellow {
                    background-color: var(--clr-light-yellow);
                }
                &.orange {
                    background-color: var(--clr-orange);
                }
                &.red {
                    background-color: var(--clr-red);
                }
            }

            .wind {
                img {
                    width: 0.7rem;
                    height: 0.7rem;
                }
            }
        }
    }

    .weather__error {
        color: var(--clr-error);
        font-weight: var(--fw-error);
        text-align: center;
        font-size: var(--fs-error);
    }
}

.hidden {
    display: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* RESPONSIVE */
@media only screen and (max-width: 768px) {
    :root {
        /* font-sizes */
        --fs-location: 1.7rem;
        --fs-temp: 4rem;
        --fs-input: 1.1rem;
        --fs-details: 1.2rem;
        /* --fs-error: 2.5rem; */

        /* font-weights */
        --fw-details-values: 300;
        --fw-details: 500;
        --fw-error: 700;
    }

    body {
        /* background-color: red; */
    }

    .weather {
        width: 90%;
        margin-top: 5rem;

        .weather__search {
            .weather__input {
                padding: 1.5rem;
                font-size: var(--fs-input);
            }

            .weather__gps,
            .weather__loader {
                top: 20%;
            }

            .weather__loader {
                right: 13%;
            }
        }

        .weather__info {
            margin-top: 2rem;
            gap: 5rem;

            .weather__info_details {
                font-size: var(--fs-details);

                .air-quality__circle {
                    width: 1rem;
                    height: 1rem;
                }

                .wind img {
                    width: 1.2rem;
                    height: 1.2rem;
                }
            }
        }
    }
}
